@model CollegeRecord.Models.EmployeeMaster

@{
    ViewData["Title"] = "Edit";
}


<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card card-default">
        <div class="card-header">
            <h2 style="text-align:center;">Edit Employee </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDate" class="control-label"></label>
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailId" class="control-label"></label>
                        <input asp-for="EmailId" class="form-control" />
                        <span asp-validation-for="EmailId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MobileNo" class="control-label"></label>
                        <input asp-for="MobileNo" class="form-control" />
                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                    </div>

                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EmpAddress" class="control-label"></label>
                        <input asp-for="EmpAddress" class="form-control" />
                        <span asp-validation-for="EmpAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label mt-2 mb-2"></label>
                        <div>
                            <input type="radio" asp-for="Gender" value="Male" id="male" />
                            <label for="male" class="mr-3">Male</label>

                            <input type="radio" asp-for="Gender" value="Female" id="female" />
                            <label for="female" class="mr-3">Female</label>

                            <input type="radio" asp-for="Gender" value="Trans" id="trans" />
                            <label for="trans">Trans</label>
                        </div>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="salary" class="control-label d-block"></label>
                        <input asp-for="salary" class="form-control" />
                        <span asp-validation-for="salary" class="text-danger"></span>
                    </div>

                    <div class="form-group ">
                        <label asp-for="status" class="control-label mt-1 mb-2 "></label>
                        <div>
                            <input type="radio" asp-for="status" value="Active" id="active" />
                            <label for="active" class="mr-3">Active</label>

                            <input type="radio" asp-for="status" value="Inactive" id="inactive" />
                            <label for="inactive">Inactive</label>
                        </div>
                        <span asp-validation-for="status" class="text-danger"></span>
                    </div>


                    @*  <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="status" /> @Html.DisplayNameFor(model => model.status)
                        </label>
                    </div> *@
                    <div class="form-group">
                        <label asp-for="departmentMaster.DeptName" class="control-label"></label>
                        <select asp-for="DeptId" asp-items="ViewBag.deptList" class="form-control">
                            <option value="">---select Department---</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="designationMaster.DesignName" class="control-label"></label>
                        <select asp-for="DesignId" asp-items="ViewBag.designList" class="form-control">
                            <option value="">---select Designation---</option>
                        </select>
                    </div>

                </div>
                <!-- /.col -->


            </div>
            <!-- /.row -->
            <div class="form-group d-flex justify-content-center gap-3 mt-3">
                <input type="submit" value="Create" class="btn btn-primary mx-3" />
                <a asp-action="Index" asp-controller="EmployeeMaster" class="btn btn-secondary mx-3">Back</a>
            </div>

        </div>

    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
