@model CollegeRecord.Models.EmployeeMaster

@{
    ViewData["Title"] = "Edit";
}


<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card card-default">
        <div class="card-header">
            <h2 style="text-align:center;">Edit Employee </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <input type="hidden" asp-for="EmpId" />
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailId" class="control-label"></label>
                        <input asp-for="EmailId" class="form-control" />
                        <span asp-validation-for="EmailId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MobileNo" class="control-label"></label>
                        <input asp-for="MobileNo" class="form-control" />
                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="salary" class="control-label"></label>
                        <input asp-for="salary" class="form-control" />
                        <span asp-validation-for="salary" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="salary" class="control-label"></label>
                        <input asp-for="salary" class="form-control" />
                        <span asp-validation-for="salary" class="text-danger"></span>
                    </div>

                    <div class="form-group d-flex align-items-center">
                        <label asp-for="Gender" class="control-label mr-3">Gender:</label>

                        <div>
                            <input type="radio" asp-for="Gender" value="Male" id="male" /> <label for="male" class="mr-3">Male</label>
                            <input type="radio" asp-for="Gender" value="Female" id="female" /> <label for="female" class="mr-3">Female</label>
                            <input type="radio" asp-for="Gender" value="Trans" id="trans" /> <label for="trans">Trans</label>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="status" /> @Html.DisplayNameFor(model => model.status)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeptId" class="control-label"></label>
                        <select asp-for="DeptId" asp-items="ViewBag.deptList" class="form-control">
                            <option value="">---select Department---</option>
                        </select>
                        <span asp-validation-for="DeptId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DesignId" class="control-label"></label>
                        <select asp-for="DesignId" asp-items="ViewBag.designList" class="form-control">
                            <option value="">---select Designation---</option>
                        </select>
                        <span asp-validation-for="DesignId" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="form-group d-flex justify-content-center gap-3 mt-3">
                <input type="submit" value="Save" class="btn btn-primary mx-3" />
                <a class="btn btn-secondary mx-3" asp-action="Index">Back</a>

            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
